<!DOCTYPE html>
<html ng-app="iceCreamTown">
<head>
  <meta charset="utf-8">
  <title>Ice Cream Shop</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
</head>
<body>
  <header>
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
    </ol>
  </header>

  <div class="container" ng-view></div>

  <script src="js/angular/app.module.js"></script>

  <!-- ice creams -->
  <script src="js/angular/iceCreams/iceCreams.module.js"></script>
  <script src="js/angular/iceCreams/config.route.js"></script>
  <script src="js/angular/iceCreams/iceCreams.controller.js"></script>
  <script src="js/angular/iceCreams/iceCreams.factory.js"></script>

  <!-- ice cream -->
  <script src="js/angular/iceCream/iceCream.module.js"></script>
  <script src="js/angular/iceCream/config.route.js"></script>
  <script src="js/angular/iceCream/iceCream.controller.js"></script>
  <script src="js/angular/iceCream/iceCream.factory.js"></script>


</body>
</html>