<!DOCTYPE html>
<html ng-app="icecreamTown">
<head>
  <meta charset="utf-8">
  <title>Ice Cream Shop</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
</head>
<body>

  <div ng-view></div>

  <script src="js/angular/app.module.js"></script>
  <script src="js/angular/icecreams/icecreams.module.js"></script>
  <script src="js/angular/icecreams/config.route.js"></script>


</body>
</html>